@import "../../styles/_variables";
@import "../../styles/_breakpoint";

.SuccessPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 80vh;
  @include xl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    background-color: white;
    height: 80vh;
  }
}

.SuccessPageText {
  margin: 0 auto;
  color: black;
  @include xl {
    margin: 0 auto;
    color: black;
  }
  h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
  h2 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
}
