@import "../../styles/variables";
@import "../../styles/_breakpoint";

.FooterContainer {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  // height: 15rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background-color: #032040;
  color: white;
  font-weight: 500;

  @media only screen and (min-width: 1200px) {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    // height: 140px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #032040;
    color: white;
    font-weight: 500;
    bottom: 0;
  }

  .FooterLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // text-align: center;
    align-items: baseline;
    margin-bottom: 2rem;
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      align-items: baseline;
    }
    img {
      width: 6rem;
      @media only screen and (min-width: 1200px) {
        width: 4rem;
      }
    }

    h2 {
      margin-right: 0.7rem;
      margin-left: 1rem;
      font-size: 1rem;
      font-weight: 400;

      @media only screen and (min-width: 1200px) {
        margin-right: 0.7rem;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  .FooterContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .Icon {
      margin-right: 2rem;
      color: $tertiary-color;
      @media only screen and (min-width: 1200px) {
        margin-right: 2rem;
        color: $tertiary-color;
      }
    }
    h2 {
      color: white;
      font-size: 1rem;
      font-weight: 400;
      @media only screen and (min-width: 1200px) {
        color: white;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  h2 {
    color: $tertiary-color;
    font-size: 1rem;
    font-weight: 400;
    @media only screen and (min-width: 1200px) {
      color: $tertiary-color;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  a {
    font-size: 1.1rem;
    @media only screen and (min-width: 1200px) {
      font-size: 1rem;
    }
    span {
      color: $tertiary-color;
      @media only screen and (min-width: 1200px) {
        color: $tertiary-color;
      }
    }
  }

  .LinkToPage {
    font-size: 1.3rem;

    @media only screen and (min-width: 1200px) {
      font-size: 1rem;
    }
  }
}
